body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #d0d1d3;
    background: url('https://unsplash.com/photos/g2MossmxZNs/download?force=true&w=1920') bottom no-repeat;
    background-size: cover;
}

h1 {
    color: #c6be94;
    text-shadow: 2px 2px #000;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}

article:nth-of-type(even) {
    background: #aaa; /* серенький, потому что ну а какой же ещё?  */
}

article:first-of-type > a > h2::before ,  article:nth-of-type(2) > a > h2::before  {
    content: '\004E\0065\0077\0021';
    display: inline-block;
    color: red;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    margin: 5px;
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }